select {
    width: 100%;
}
.search {
    background-color: #cfcfcf;
}
.results {
    display: table;
    vertical-align: middle;
}
.result {
    background-color: #777777;
    color: #ffffff;
}
.result:hover {
    background-color: #969696;
    text-decoration: none;
}

.search-button {
    width: 100%;
}

@media (min-width: 768px) {
    .search {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    .map-embed {
        position: fixed;
        width: 120%;
    }
}