.contact-info {
    display: none;
}

.header-section {
    background-color: #14bb22;
    color: #ffffff;
}

.table tbody tr.highlight td {
    background-color: #406be2;
    color: #ffffff;
}

.fixed-position {
    position: fixed;
}